.services-item {
    padding: 20px;
    margin: 60px 0;

    border: solid 3px black;
    border-radius: 18px;
    border-spacing: 10px;

    &.driving {
        box-shadow: 10px 10px 5px rgb(255, 211, 124);
    }

    &.thanksai {
        box-shadow: 10px 10px 5px rgb(255, 103, 156);
    }

    &.oriflame {
        box-shadow: 10px 10px 5px rgb(189, 189, 189);
    }

    &.solar {
        box-shadow: 10px 10px 5px rgb(255, 211, 124);
    }

    &.herbalife {
        box-shadow: 10px 10px 5px rgb(212, 255, 162);
    }

    .services-image {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    > p {
        text-align: center;
    }
}

.services-button {
    padding-right: 20px;
}

.services-button-arrow {
    position: relative;
    right: -8px;
    bottom: -2px;
}

.services-heading {
    text-align: center;
    position: relative;

    > h1,
    h2 {
        font-weight: 700;
    }

    .heading_underline {
        position: absolute;
        bottom: -28px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 80vw;

        transform: scaleY(-1);
    }
}
