.toolbar {
    display: flex;
    width: calc(100vw - 80px);
    justify-content: space-around; //changed from space-between as wasnt aligned properly

    background-color: rgb(204, 199, 199);

    #logo {
        width: 50px;
        height: 50px;

        background-color: black;
    }
}

#toolbar-computer {
    flex-direction: row;
}

#toolbar-mobile {
    justify-content: space-between; //changed from space-between as wasnt aligned properly
    /* Make the toolbar in mobile mode stick to the bottom */
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    width: calc(100vw);
    z-index: 1;

    // background-color: red;
    background-color: transparent;

    #toolbar-sandwhich {
        all: unset;

        width: 50px;
    }

    .toolbar-group {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        align-items: flex-end;
        width: 100vw;
        height: 100vh;
        z-index: 1;

        background-color: rgb(204, 199, 199);

        &.toolbar-open {
            right: 0;

            transition: right 0.3s;
            transition-timing-function: ease;
        }

        &.toolbar-close {
            right: -100vw;
            transition: right 0.3s;
            transition-timing-function: ease;
        }
    }
}

.toolbar-item {
    // &:not(#home) {
    //     flex-grow: 1;
    //     color: red;
    // }

    font-size: 30px;
    transition: font-size 0.7s;
    color: white;
    font-family: "Unbounded", cursive;

    // &>:first {
    //     font-size: 300px;
    // }

    &:hover {
        opacity: 70%;
        cursor: pointer;
        // transition the font size bigger without affecting the other tabs
        font-size: 40px;
        text-shadow: 2px 2px 30px rgb(0, 0, 0);
    }
}
