#toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around; //changed from space-between as wasnt aligned properly
    background-color: black; 
}

.toolbar-item {
    font-size: 30px;
    transition: font-size 0.7s;
    color: white;
    font-family: 'Rampart One', cursive;
    


    &:hover {
        opacity: 70%;
        cursor: pointer;
        // transition the font size bigger without affecting the other tabs
        font-size: 40px;
        text-shadow: 2px 2px 10px rgb(236, 253, 0);
    }
}