#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#home-header {
    > img {
        width: 100%;
    }
}

#home-quote {
    font-style: italic;
}

.home-text {
    font-weight: 700;
}

#home-heading {
    font-size: 60px;
    text-align: right;
    position: relative;
}

.home-subheading {
    position: relative;
    top: 50px;
    margin: auto;
}

.home-subheading img {
    // float: right;
    // width: 280px;
    // height: 300px;
    // right: 900px;
}

#home-subheading {
    font-size: 30px;
}

#home-text {
    position: relative;
    font-size: 30px;
}

#head3 {
    position: relative;
    font-size: 50px;
}
