#Home {
    font-size:70px;background-color:rgba(10, 55, 30, 0.684);
    font-family:Georgia, 'Times New Roman', Times, serif;text-align:center;
    border:2px solid rgba(0, 0, 0, 0.322);
    padding: 30px; 
    color: white;
    text-shadow: 2px 2px 8px lightblue;
}

#mee {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:30px;
}