#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: auto;
    font-size: 30px;
    padding: 20px 0 30px 0;

    transform: translateX(50%);
    width: 50%;
    // TODO: not needed for mobile
    .socialmedia {
        &:hover {
            opacity: 50%;
            cursor: pointer;
            text-shadow: 2px 2px 30px rgb(0, 0, 0);
        }
    }
}
